doctype html
html
  head
    title VG Dance Academy
    block scripts
    block style
    
  body
    nav#navbar
        div#logo
            img(src="../static/logo2.png")
            p VG - Dance Academy
        ul 
            li #[a(href='/') Home ]
            li #[a(href='/') About ]
            li #[a(href='/') Services ]
            li #[a(href='/') Class Info]
            li #[a(href='/contact') Contact Us]

    block content
    footer#footerSection
        | Copyright &copy; 2022 | www.vgdanceacademy.com | All rights reserved.

    
    