@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Condensed&family=Roboto+Mono&display=swap');

.bgImage{
    background: url("/static/contact_bg.png") center center/cover;
    height: 80vh;
    width: 100vw;
    /* margin: 50px 0 0 0; */
    /* background-color: red; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    filter: blur(10px);

}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    
}

.formContainer h1{
    text-align: center; 
    /* argin: 15px 0 15px 0; */
    font-family: 'Roboto Mono', monospace;
    font-size: 3.5rem;
    color: rgb(255, 0, 0);
}

.myForm{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    align-items: center;
    justify-content: center;
}

.myInput{
    width: 200%;
    margin: 13px 0;
    height: 1.8rem;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 1.1rem;
    outline: none;
}

.btn{
    padding: 8px 60px;
    font-size: 1.8rem;
    border-radius: 20px;
    color: white;
    background: brown;
    border: 1px solid black;
    margin: 14px 0;
    cursor: pointer;
    outline: none;
}